//color
$color-black-0: #454545;
$color-gray-0 : #A5A5A5;
$color-gray-1 : #868686;
$color-blue-0 : #1C8DDC;
$color-white-0: #fff;
//font-size
$font-size-0 : 18px;
$font-size-1: 12px;
//font-weight
$font-weight-0 : 700;
$font-weight-1:400;
$font-weight-2: 300;
//margin
$margin-0: 1px;
$margin-1: 20px;
$margin-2:10px;
//line height
$line-height-0 : 23px;
$line-height-1 : 18px;


